.awcache/
.editorconfig
.env
.env.defaults
.env.schema
.gitattributes
.gitignore
.npmignore
.npmrc
.nyc_output/
.vscode/
*.log
build/
codealike.json
CODEOWNERS
coverage/
docs/
src/
test/
tsconfig.json
yarn.lock
